{{ define "footer" }}
<footer class="footer j-footer mt-auto">
    <div class="content has-text-centered j-footer-text">
        <div class="mb-1">
            <strong class="j-footer-text">Written in
                <a class="j-link" href="https://go.dev/">Go</a> &
                <a class="j-link" href="https://htmx.org/">htmx</a>
                with <a class="j-link" href="https://bulma.io/">Bulma</a> for styles.
            </strong>
        </div>
        <div>
            <!-- This is temp right now, not sure where to put site stats etc... -->
            Unique visitors: {{index .IntMap "unique_visitors"}}
        </div>
        <div>
            <a class="j-icon mr-3" href="https://github.com/JoeLanglands">
                <i class="lni lni-github"></i>
            </a>
            <a class="j-icon" href="https://www.linkedin.com/in/joe-langlands-3686891b0/">
                <i class="lni lni-linkedin"></i>
            </a>
        </div>
    </div>
</footer>
{{ end }}