<div class="content  mt-6">
    <h1 class="has-text-centered j-title">Hello!</h1>
    <section class="j-text-body container section">
        I am Joe Langlands, a software developer based in sunny Manchester.
    </section>
    {{ template "carousel" . }}
    <section class="j-text-body container section">
        I am Joe Langlands, a software developer based in sunny Manchester.
    </section>
</div>