<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
    <title>Joe Langlands</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet"/>

</head>

<body>
<div class="section">
    <div class="content mt-auto has-text-centered">
        <h1>
            Wait, you're not HTMX!?
        </h1>
        <div class="mt-6">
            <img src="/static/images/wtff-cat.gif" alt="WTFF"
                 style="width: 478px; height: 482px; object-fit: none; object-position: -10px -12px;">
        </div>
        <div class="content mt-6 has-text-centered">
            <h2>
                Only HTMX can serve this route! Return <a class="j-link" href="/">here</a>.
            </h2>
        </div>
    </div>
</div>
</body>

</html>