<div class="container content mt-5">
    <p>
        Coming soon&trade; I promise! This website has been the main project.
    </p>
    <p>
        Check out my github (link below) if you really want to know what I've been up to code wise.
    </p>
</div>